body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.map-container {
    width: 66.6667%; /* 2/3 of the horizontal space */
    height: 100%;
}

.news-container {
    width: 33.3333%; /* 1/3 of the horizontal space */
    height: 100%;
    overflow-y: auto;
    padding: 10px;
}

#map {
    height: 100%;
}

#news {
    overflow-y: auto;
}

